URL = 
TZ=Asia/Dhaka
STATUS=dev
INFO=true
PORT =4000
# server info
DB_PORT=4000
DB_DATABASE=
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=""

# mail info
# sms info
SMS_KEY =
SMS_URL =
SMS_SENDER_ID =
# jwt info
JWT_SECRET="xvxvxcvxcvxcvcxv"
